
<div class="tv-screen">
  <div class="lip"></div>
  <div class="lip-bar"><div class='announcement'><b> </b> </div></div>
  <div class="lip-bar-small"></div>

  <!--<div id="iframeholder">-->
  <!--<iframe id="forecast_embed" type="text/html" style="margin-top: -40px; z-index: 249;" frameborder="0" height="200px" width="250px" src="http://forecast.io/embed/#lat=41.141472&lon=-73.357905&name=SHS"> </iframe>-->
  <!--</div>-->

  <div class="period-description-2">
    <h4>Announcements</h4>
    <div id="announcements-cable"><br><br>
      <ul class='announcement-data'>
      </ul>
    </div>
  </div>

  <div class="tv-date"><div class="day"></div><div class="month"></div><div class="date"></div></div>
  <div class="tv-time"><div class="time"></div></div>

  <div class="tv-announcement-background"></div>
  <!--<div class="tv-announcement">-->
  <!--<div class="title">Girls Soccer</div>-->
  <!--<div class="content">All girls soccer players will have a meeting on Thursday May 16th, 2:20pm in Room 188.</div>-->
  <!--</div>-->
  <img class="tv-announcement-image" src="/img/StaplesHS-crest.png">
</div>