<html lang="en">
<head>
  <meta charset="utf-8">
    <title>SHS Schedule System</title>

  <!-- css -->
  <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
  <link href="//netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/tv.css?<%= rand(10000000000) %>">


  <!-- js -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
  <script src="/js/jquery.marquee.min.js"></script>
  <script src="/js/common.js?<%= rand(10000000000) %>"></script>
  <script src="/js/tv.js?<%= rand(10000000000) %>"></script>
</head>

<!-- Body -->
<body>
<div class="container">
  <%= yield %>
</div>

</body>
</html>