
<div class="tv-screen">
  <div class="lip"></div>
  <div class="lip-bar"><div class='announcement'><b> </b> </div></div>
  <div class="lip-bar-small"></div>
  <div class="clockbox-in">-</div>
  <div class="clockbox-left">-</div>
  <div class="time-label">ELAPSED</div>
  <div class="time-label2">REMAINING</div>
  <!--<div id="iframeholder">-->
  <!--<iframe id="forecast_embed" type="text/html" style="margin-top: -40px; z-index: 249;" frameborder="0" height="200px" width="250px" src="http://forecast.io/embed/#lat=41.141472&lon=-73.357905&name=SHS"> </iframe>-->
  <!--</div>-->

  <div class="period-description">
    <div id="period-info"><br><br>
      <span class='lunch-only'>
        <b>Classes with this lunch</b><br>
        <ul id='period-classes-info'>
          <div class='period-classes-info-split-left'>
          </div>
          <div class='period-classes-info-split-right'>
          </div>
        </ul><br>
      </span>
      <span>
      <b>Period Information</b><br>
      <ul id='period-anncmt-info'>
      </ul>
       </span>
    </div>
    <div id="passing-info">
      <div id="passing-header">ANNOUNCEMENTS</div><br>
      <ul id='passing-info-holder'>
      </ul>
    </div>
  </div>

  <div class="tv-date"><div class="day"></div><div class="month"></div><div class="date"></div></div>
  <div class="tv-time"><div class="time"></div></div>
  <div class="tv-schedule">
    <div class="periods eight">
    </div>
  </div>
  <div class="progress-info"><div class="time-left"></div></div>
  <div class="tv-progress"><div class="tv-bar"></div></div>
  <div class="tv-announcement-background"></div>
  <!--<div class="tv-announcement">-->
  <!--<div class="title">Girls Soccer</div>-->
  <!--<div class="content">All girls soccer players will have a meeting on Thursday May 16th, 2:20pm in Room 188.</div>-->
  <!--</div>-->
  <img class="tv-announcement-image" src="/img/StaplesHS-crest.png">
</div>